<footer class="t-gold">
    

    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about.html">About</a></li>
                        <li><a href="/disclosure.html">Disclosure</a></li>
                        <li><a href="/contact.html">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <p>Momentum Partners<br/>© Copyright 2021. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>