<header>
    <div class="logo">
        <a href="/">
            <img src="/images/momentum-logo.png" alt="momentum-partners-logo" />
        </a>
    </div>

    <div class="button_container" id="toggle">
        <span class="top"></span>
        <span class="middle"></span>
        <span class="bottom"></span>
    </div>

    <div class="overlay" id="overlay">
        <nav class="overlay-menu">
            <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about.html">About</a></li>
            <li><a href="/disclosure.html">Disclosure</a></li>
            <li><a href="/contact.html">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>