@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

@font-face {
  font-family: "SofiaProRegular";
  src: url("../fonts/SofiaProRegular.woff2") format("woff2"),
    url("../fonts/SofiaProRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SofiaProMedium";
  src: url("../fonts/SofiaProMedium.woff2") format("woff2"),
    url("../fonts/SofiaProMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SofiaProLight";
  src: url("../fonts/SofiaProLight.woff2") format("woff2"),
    url("../fonts/SofiaProLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SofiaProBold";
  src: url("../fonts/SofiaProBold.woff2") format("woff2"),
    url("../fonts/SofiaProBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
