form {
    input, textarea {
        display: block;
        width: 100%;
        margin-bottom: 20px;
        padding: 20px;
        border: 0;
        font-family: $base-font-family;
    }
    textarea {
        height: 200px;
    }
    input[type=submit] {
        width: initial;
        @extend .btn;
        padding: 13px 20px;
        background: none;
    }
    input, textarea {
        &::placeholder {
            color: rgb(182, 182, 182);
            font-style: italic;
            font-weight: 400;
        }
    }
}