/*------------------*
# Main Content
*------------------*/

.main-content {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.momentum-icon {
    width: 100px;
    display: block;
    margin: 0 auto 20px;
    img {
        width: 100%;
    }
}

.quote {
    background: $color-tertiary;
    &__line {
        border-left: 3px solid $color-secondary;
        padding-left: 25px;
    }
}

.info-box {
    background-color: $color-tertiary;
    padding: 40px;
}

.contact-container {
    background: #F6F6F6;
    padding: 20px;
    @include media-breakpoint-up(sm) {
        padding: 40px;
    }
}

.contact-info {
    margin-top: 40px;
    @include media-breakpoint-up(sm) {
        margin-top: 0;
    }
    &__item {
        display: flex;
        .image {
            width: 80px;
        }
        margin-bottom: 30px;
    }
}